:host {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  justify-content: space-around;
}

mat-card {
  position: relative;
  padding: 24px 0;

  img {
    height: 170px;
    width: 100%;
  }

  mat-card-content {
    padding: 0 24px;
    text-align: left;

    .name {
      font-weight: 700;
    }

    .description {
      margin-top: 10px;
    }
  }

  mat-card-actions {
    position: relative;
    margin: 0;

    .icon {
      position: absolute;
      bottom: 5px;
      right: 24px;
      width: 25px;
      height: 25px;
      font-size: 25px;
      color: grey;
      outline: none;
      cursor: pointer;
    }
  }
}
