<app-banner [banners]="banners"></app-banner>
<div class="items">
  <h2>Our Services</h2>
  <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</h6>
  <app-home-service-card></app-home-service-card>
</div>

<div class="items">
  <h2>Business in Armenia</h2>
  <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</h6>
  <app-business></app-business>
</div>

<div class="items">
  <h2>Our Partners</h2>
  <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</h6>
  <app-partners></app-partners>
</div>
