:host {
  display: flex;
  justify-content: space-between;
  height: 48px;
}

mat-toolbar {
  display: flex;
  height: 48px;
  padding: 0;
}

.spacer {
  flex: 1 1 auto;
}

.mat-tab-link {
  min-width: 0;
  width: auto;
  text-align: center;
  outline: none;

  @media (max-width: 560px) {
    width: 140px;
    display: flex;
    justify-content: flex-start;
    padding: 0 0 0 10px;
  }
}

@media (max-width: 560px) {
  nav {
    position: absolute;
    top: 48px;
    right: 0;
    z-index: 1;
    background: whitesmoke;
  }
}
